:root {
    --theme: #D0D0D0;
    --passive: #333344;
    --active: #777788;
    --coaster: #DDDDEE;
}

body {
    max-width: 500px;
}

* {
    /* Font */
    font-family: "Source Code Pro", monospace !important;
}

/* Loading page */

#loading {
    /* Positioning */
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    /* Sizing */
    height: 100%;
    /* Background */
    background-color: #D0D0D0D0;
}

#spinner {
    /* Alignment */
    align-self: center;
    /* Border widths and colors */
    border: 1vh solid transparent;
    border-top: 1vh solid var(--passive);
    /* Border radius */
    border-radius: 50%;
    /* Size */
    height: 5vh;
    width: 5vh;
    /* Animation */
    animation: animation 1s linear infinite;
}

@keyframes animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}